## SQL Notes

1. Data manipulation- 
2. Data definition

1. Insert INTO table_name (col1, col2, col3) VALUES (val1, val2, val3)

UPDATE table_name SET col_name = 'New Value' WHERE other_col_name = value

# Delete rows from the table
DELETE from table_name WHERE col_name=value

# If no where specified

#
SELECT - one or more table names
a list columns to retrieve
optionally one or more joins of tables
a WHERE clause, aggregate functions and
sorting and
grouping commands.

All columns from all the table
SELECT * FROM table_name

#Selects only odd numbered rows from the table
SELECT * FROM table_name WHERE id in (1,3,5,7)

#to limit output to 10 lines
SELECT * FROM table_name LIMIT (num)

#Returns the number of rows
SELECT count(*) FROM table_name 

#Returns gender and count correpsponding to gender and grouped by gender
SELECT gender,count(*) FROM table_name GROUP BY gender

#Returns maximum of salary similar to above
SELECT department,max(salary) FROM table_name GROUP BY department

#Multiple group by using GROUPING SETS
'''
SELECT
    company_division, company_region, gender, count(*)
FROM
    *view_name*
GROUP BY
    GROUPING SETS (company_division, company_region, gender)
GROUP BY
    company_division, company_region, gender
'''    

# Returns distinct or unique values
SELECT DISTINCT ... 
        
# The function SUBSTRING (text) is used to get a subset of a string.
SELECT SUBSTRING('abcdefgh' FROM 5 FOR 3) test_string #Returns 'efg'

#The function OVERLAY() is used to replace part of a string with another string
SELECT OVERLAY(job_title PLACING 'Asst.' FROM 1 to LENGTH('Assistant')).. #Replaces the first 9 characters from job_title with 'Asst.'

# Using key words like UPPER() or LOWER() is allowed
# trim(text) is used to trim trailing and following white spaces

# various statistical functions
min
max
sum
avg - average
var_pop
std_pop

#Other functions
round(number,2) #to round off a number to 2 decimal places
round(number) #Rounds to the nearest integer
ceil(number) #Next larger integer
trunc(number) #Ignores decimals, doesn't round up or round down
trunc(number,3) #Ignores all decimals after the third decimal

# WHERE
SELECT * FROM staff WHERE department LIKE 'B%' #All departments that start with 'B' and have 0 or more characters after it
...WHERE job_title SIMILAR TO '%Assistant%(III|IV)' #job_title that has occurences of 'Assistant' and ('III' or 'IV') together
...WHERE job_title SIMILAR TO '%Assistant I_' #Matches anything which looks like 'Assistant I('Another character')'. In this case, matches all 'Assistant II' and 'Assistant IV'.
...WHERE job_title SIMILAR TO '[EPS]%' #All job titles atarting with E or P or S

#Conditionals
AND
OR

# Data munging

#Join values under 2 columns with a '-' as view this aother column named
SELECT job_title || '-' || departments as_col_name FROM staff

## Subqueries

1. SELECT

Subqueries can be used in place of columns or tables
# Using subqueries in place of columns

SELECT
    s1.last_name,
    s1.salary,
    s1.department
    (SELECT avg(salary)) FROM staff s2 WHERE s2.department = s1.department)
FROM
    staff s1
    
# We need a WHERE clause in the subquery that references a table in the top-level so that it knows which row from the top level query is referenced

###

# Using subqueries in place of tables

SELECT
    s1.department,avg(salary)
FROM
    (SELECT
        department,avg(s1.salary)
    FROM
        staff
    WHERE
        salary >100000) s1
        
GROUP BY
    s1.department

2. WHERE

SELECT
    s1.last_name,s1.salary
FROM
    staff s1
    
WHERE
    s1.salary = 
                (SELECT
                    max(s2.salary)
                FROM
                    staff s2)

One of the ways to group data is by joining 

#Joining Tables
Joins 2 or more tables to display an extended table.
The function 'JOIN' needs the keyword argument 'ON' to decide over which rows (key rows) the tables have to be joined.
Usually the kesy rows are the primary IDs of the tables.

Two types of JOINs- inner JOIN and outer JOIN.
Inner Join does not need an explicit mention. Whereas of the keywords LEFT or RIGHT are written before JOIN, it indicates an outer JOIN.

Inner JOIN
In case of an inner join, if any given table doesn't have a value corrsponding to one of the key rows, that row is not printed.

Outer JOIN
The table mentioned first is joined to the LEFT of the table mentioned later in case of LEFT JOIN. This means, all rows of the first table are retained, and corresponding missing values in the other table(s) are indicated bu Nulls.

It is the other way around with RIGHT JOIN

# Example of inner JOIN
'''
SELECT
    s.last_name,s.department,cd.company_division
FROM
    staff s
JOIN
    company_divisions cd
ON
    cd.department = s.department
'''

# *Example of LEFT JOIN*
'''
SELECT
    s.last_name,s.department,cd.company_division
FROM
    staff s
LEFT JOIN
    company_divisions cd
ON
    cd.department = s.department
'''

#Creating Views

A way to save a query table is by creating views. Whenever a table is displayed using a query, it can be saved as a VIEW.
Simply, add the following line at the top of the query-
CREATE VIEW *view_nmae* AS
...query...

#ROLLUP and CUBE

Using ROLLUP and CUBE in the GROUP BY clause returns the aggregated counts of groupwise and individial combinations of keywords.

'''
.
.
GROUP BY
    ROLLUP(col1,col2,col3)
.
.
'''
returns
col1,col2,col3,count
col1,col2,count
col1,count

Whereas

'''
.
.
GROUP BY
    ROLLUP(col1,col2,col3)
.
.
'''
returns
col1,col2,col3,count
col1,col2,count
col1,co3,count
col2,col3,count
col1,count
col2,count
col3,count

#FETCH FIRST (used with the ORDER BY clause)
Different from LIMIT.
FETCH FIRST performs the operation, then selects which rows to display.
Whereas, LIMIT limits the number of rows, then performs the operation.

'''
SELECT
    company_division,salary,count(*)
FROM
    staff
GROUP BY
    company_division
ORDER BY
    count(*) DESC
FETCH FIRST
    10 ROWS ONLY

# Window Functions
#Similar to subqueries

1. OVER PARTITION
#Used to aggregate data over a specific value of column
Sample code:
'''
SELECT
    company_region,last_name,
    avg(salary) OVER (PARTITION BY company_region)
FROM
    *table_name*
'''

2. first_value
#Returns the first value of the selected column.
For example, if a column is ordered in descending value, then first_value will return the MAX value.

'''
SELECT
    department,
    last_name,
    first_value(salary) OVER (PARTITION BY department ORDER BY salary DESC)
FROM
    STAFF
'''

3. RANK
# Works with partition to partition results and assign a rank value depending on the partition

'''
SELECT
    department,
    last_name,
    rank() OVER (PARTITION BY department ORDER BY salary DESC)
FROM
    STAFF
'''

4. lag and lead
#To reference rows in reference to the currently processed row.
In the following query, an additional lag column has the value of the salary from the previous row.
'''
SELECT
    department,
    last_name,
    lag(salary) OVER (PARTITION BY department ORDER BY salary DESC)
FROM
    STAFF
'''

Lead is the opposite of lag.

4. NTILES
#Assigns buckets (groups) to rows. Or breaks rows into different buckets or groups. For example, assign quartiles to row (integers 1 to 4).
The following funcion assigns group numbers (or buckets) to rows depending on the quartiles of salaries. As we move to a new department, the tiling begins again.
'''
SELECT
    department,
    last_name,
    ntile(4) OVER (PARTITION BY department ORDER BY salary DESC)
FROM
    STAFF
'''

In [ ]:
## DATA definition
Define structure to Organaize data in a RDB
Strructure datat using tables, indexes, views and schemas (collection of many data structures)

In [ ]:
TABLE
CREATE TABLE table_name (id integer
                        col1_name datastructure type
                        col2_name datastructure type
                        ...
                         
                         PRIMARY KEY (id) #Whenever a row is 
                        )

Types of data structures ########
Integers
Varchars
dates.....

In [ ]:
# Quickly search over all entries
INDEX

CREATE INDEX idx_staff_last_name
    ON staff
    USING (last_name)

# Focus on the most important data in the database
# from multiple tables
VIEWS
CREATE VIEW view_name AS
SELECT
    s.id
    s.last_name...
    
FROM
    staff s #(indicates that the table staff is used as 's'
    
LEFT JOIN #Join with this table to include all rows on the left side
    company_divisions cd
ON
    s.department = cd.department #indicates table s is on the left and cd on the right

SCHEMAS

Organize space for groups of related structures and views

CREATE SCHEMAS schema_name #Additional clauses depending on the type of database used

SQL Standards

*Usually ANSI standard SQL (1986)
Check documentation for 
data types
functions

In [5]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

In [6]:
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

In [ ]:
conn.commit()
conn.close()